<p id="notice"><%= notice %></p>


<ul>
  <li> <%=@company.id%> </li>
  <li> <%=@company.name%> </li>
  <li> <%=@company.created_at%> </li>

<%= link_to 'Edit', edit_company_path(@company) %> 
<%= link_to 'Back', companies_path %>
